body {
  background-image: url("https://cdn.britannica.com/29/148329-050-269A9EFE/night-sky-Milky-Way-Galaxy.jpg")
}

#intro{
  border: solid 2px black;
  color: whitesmoke;
  margin-bottom: 25px;
  text-shadow: 2px 1px #111111
}
#nasaImage {
  height: 250px;
  width: 100%;
}

button{
 margin-bottom: 5px;

}
#output {
  display: none;
}
#image {
  text-align: center;
}
